body{
    display: flex;
    justify-content: center;
}

#calculator-body{
    display: flex;
    flex-direction: column;

    margin: 30px auto;
    
}


#display{
    flex: 1;
    border: 10px solid gray;
    background-color: beige;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    border-radius: 4px 4px 0px 0px;
    width: 300px;
    padding: 8px;
    box-sizing: border-box;
    overflow: hidden;
}


#button-layout{
    width: 300px;
    box-sizing: border-box;
    flex: auto;
    
    display: flex;
    flex-direction: column;
    background-color: bisque;
    padding: 4px;
    gap: 6px;
    border: 10px solid gray;
    
    border-radius: 0px 0px 4px 4px;
}

#button-layout div{
    display: flex;
    gap:8px;
    justify-content: space-around;
}


button{
    width: 55px;
    height: 30px;
    background-color: blanchedalmond;
    border-radius: 5px;
}